@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
}
/*Header*/
/*SliderNewIn*/
.store-background{
    margin-top: 10px ;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #ffffff;
}
.store-title{
    padding-top: 50px;
    font-size: 56px;
    text-align: center;
   
}
.store-title h1{
    font-family: 'Anton', sans-serif;
    letter-spacing: 3.8px;
}
.product-background{
    width: 100%;
    height: 100vh;  
}
.product-container{
    padding: 0px 25px;
}
.product{
    text-align: center;
    padding-right: 15px;
    height: 87vh;
    background-color: #ffffff;
}
.product h3{
    padding-bottom: 10px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
    font-size: 17px;
    color: #8f8f8f;
}
.product:hover > h3{
    transition: 0.5s ease;
    color: black;
}
.product-img:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}
.product-img:not(:hover){
    transition: scale(0);
    transition: 0.5s ease;
}
.product-img-price{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 73%;
    border-radius: 5px;
    background-color: #f1f1f1;;
}
.product-img{
    padding-top: 20px;
    width: 67%;
    height: 69%;
    
}
.product-img img{
    width: 100%;
    height: 100%;
}
.product-price{
    width: 100%;
    height: 10%;
    position: relative;
}
.product-price span{
    position: absolute;
    left: 15px;
    top: 57px;
    font-family: 'Anton', sans-serif;
    font-size: 21px;
}
/*Store button*/
.store-all-btn{
    display: flex;
}
.store-area-btn{
    position: relative;
    left: 60px;
    bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    width: 248px;
    height: 56px;
    background-color: black;
    border-radius: 2px;
    border: 1px solid black;
    transition: 0.3s ease;
    overflow: hidden;
    color: white;
}
.store-area-btn:hover{
    background-color: white;
}
.store-area-btn a{
    font-family: 'Anton', sans-serif;
    font-weight: 900;
    font-size: 20px;
    position: relative;
}
.store-area-btn:hover a {
    color: black;
    animation: transformTxtReverse 0.3s ease;
}
.store-area-btn:not(:hover) a {
    animation: transformTxt 0.3s ease;
}
.trend-background-contanier
{
    /* background-color: antiquewhite; */
    width: 100%;
    height: 80%; 
}
.trend-contanier
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.trend-slider{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.trend-dersc{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 80px;
    width: 30%;
    height: 100%;
}
.trend-dersc p{
    font-family: 'Montserrat', sans-serif;
}
.trend-dersc-title h2{
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    line-height: 1;
}
.trend-dersc-txt{
    margin: 30px auto;  
}
.trend-vi{
    display: flex;
    flex-direction: row;
    text-align: left;
}
.trend-vi p{
    padding-right: 10px;
}
.trend-imgs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
}
/*Trending Imgage*/
.trend-arrow-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    padding-right: 25px;
}
.trend-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}
.trend-img img{
    width: 100%;
    height: 100%;
}
.trend-arrow-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
}

/*Trending Price*/
.trend-price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px;
    width: 30%;
    height: 100%;
}
.price-txt p{
    font-family: 'Montserrat', sans-serif;
}
.price-txt h2{
    font-family: 'Anton', sans-serif;
    font-size: 46px;
}
.quanity{
    display: flex;
    flex-direction: column;
 
}
.quanity-counter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    margin: 10px 0 ; 
}
.quanity-counter input{
    width: 8px;
    border: 0;
    line-height: 24px;
    font-size: 16px;
    text-align: center;
    background-color: white;
    color: black;
    appearance: none;
    outline: 0;
}
.quanity-counter span{
    display: block;
    font-size: 25;
    padding: 0 10px;
    cursor: pointer;
    user-select: none;
    
}
.size-type .size{
    margin-right: 2px;
    margin-bottom: 2px;
}
.size-type .size label{
    
    display: inline-block;
    width: 45px;
    height: 37px;
    cursor: pointer;
    margin-bottom: 0;
    text-align: center;
    padding: 8px 4px;
    border-radius: 2px;
    line-height: 1.3;
    color: #838383;
    transition: 0.21s all;
    margin: 0;
    position: relative;
}
.size-type .size input{
    opacity: 0;
    width: 0;
}
/*Swiper*/
.store-swiper-area{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    bottom: 101px;
    right: 40px;
    width: 5%;
    height: 1%;
    animation-name: arrowsMove;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}
.swiper-carousel-mobile{
    display: none;
}
.store-swiper-area:hover{
    animation-name: arrowStop ;
}

.store-swiper-text{
    display:none;
}
@keyframes arrowsMove {
    0%   {right:10px;}
    50%  {right:30px;}
    100% { right:10px;}
}
@keyframes arrowStop{
    0%{right: 10px}
    100%{right: 10px;}
}
/*Trending*/
.trend-background{
    margin-top: 60px;
    width: 100%;
    height: 100vh;
}

.trend-title{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
}
.trend-title-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
   
}
.slide-link{
    font-family: 'Montserrat', sans-serif;
    font-size: .875rem;
   
    line-height: 1.5;
    color: rgba(0, 0, 0, 5);
    text-decoration: none;
}
.slide-link::before{
    content: " ";
    height: 1px;
    width: 119.52941px;
    display: inline-block;
    background: rgba(0, 0, 0, 5);
    margin-bottom: 5px;
    margin-right: 29px;

}
.trend-title-middle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}
.trend-title-middle h1{
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
    font-size: 103px;
}
.trend-title-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}
.line-trend-right{
    display: flex;
    flex-direction: row; 
    border-bottom: solid 1px black;  
}
.trend-txt{
    margin-right :16px;
}
.icon-trend{
    margin-right: 5px;
}
.trend-contanier{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100%;
}
/*StoreNew*/
.store-gear-bg{
    margin-top: 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 120vh;
}
.sg-txt{
    font-family: 'Anton', sans-serif;
    font-size: 115px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 5%;
}
.sg-txt-moblie{
    display: none;
}
.sg-img{
    background-color: transparent;
    transition: 0.21s all;
    width: 75%;
    height: 75%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
}
.sg-img:hover{
    filter: drop-shadow(3px 7px 11px #000000);
    transform: translateY(-20px);
}
.sg-bt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sg-bt a{
    font-size: 18px;
    color: black;
    text-decoration: none;
    padding-right: 15px;
}
.sg-bg{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 49.8%;
    height: 100%;
    background-color: #ffffff;
}

@media screen and (max-width: 986px){
    .store-title{
        padding-top: 25px;
        padding-bottom: 50px;
        font-size: 45px;
    }
    .store-title h1{
        letter-spacing: 0px;
    }
    .product-img-price{
        height: 59%;
    }
    .product-price span{
        top: 37px;
    }
    .store-area-btn{
        
        bottom: 175px;
    }
    .store-swiper-area{
        bottom: 175px
    }
    .store-gear-bg{
        height: 80vh;
    }
    .sg-bg{
        width: 49.7%;
    }
    .sg-txt{
        font-size: 75px;
    }
}

@media screen and (max-width: 767px){
    .store-title{
        padding-bottom: 15px;
        font-size: 30px;
    }
    .store-title h1{
        letter-spacing: 0px;
    }
    .product-img-price{
        height: 68%;
    }
    .store-all-btn{
        flex-direction: column-reverse;
    }
    .store-area-btn{
        left: 0px;
        bottom: 100px;
    }
    /*Làm lại nút swiper*/
    .store-swiper-area{
       display: none;
    }
    .swiper-carousel{
        display: none;
    }
    .swiper-carousel-mobile{
        display: flex;
        flex-direction: row;
    }
    .store-gear-bg{
        padding-top: 110px;
        flex-direction: column;
        height: 180vh;
    }
    .sg-bg{
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }
    .sg-txt{
        display: none;
    }
     .sg-txt-moblie{
        display: inline;
        font-family: 'Anton', sans-serif;
        font-size: 43px;
    }
}
